<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
        {{!-- Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> --}}
        {{!-- Plague Fox © 2022 --}}
        <copyright>{{@site.title}} Copyright {{date format="YYYY"}}</copyright>
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}