@media (prefers-color-scheme: dark) {
    a {
        color: rgb(140 140 250);
    }

    ::-webkit-scrollbar-track-piece {
        background-color: rgb(255 255 255 / 20%) !important;
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(255 255 255 / 30%) !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / 50%) !important;
    }

    embed[type="application/pdf"] {
        filter: invert(90%);
    }

    html {
        color: rgb(191 191 191);
        background: rgb(31 31 31) !important;
    }

    body {
        background-color: rgb(31 31 31);
        background-image: none !important;
    }

    input,
    select,
    textarea,
    button {
        color: rgb(191 191 191);
        background-color: rgb(31 31 31);
    }

    font {
        color: rgb(191 191 191);
    }

    html {
        filter: contrast(100%) brightness(100%) saturate(100%);
    }

    :root {
        --brand-color: var(--ghost-accent-color, hsl(28deg 60% 75% / 100%));
        --primary-text-color: hsl(201deg 9% 75% / 100%);
        --secondary-text-color: hsl(0deg 0% 75% / 100%);
        --white-color: hsl(0deg 0% 100% / 100%);
        --light-gray-color: hsl(0deg 0% 96% / 100%);
        --mid-gray-color: hsl(0deg 0% 90% / 100%);
        --dark-gray-color: hsl(0deg 0% 75% / 100%);
        --darker-gray-color: hsl(0deg 0% 75% / 100%);
        --black-color: hsl(0deg 0% 75% / 100%);
        --brand-color-night-eye: var(--ghost-accent-color, hsl(28deg 60% 52% / 100%));
        --primary-text-color-night-eye: hsl(201deg 9% 39% / 100%);
        --secondary-text-color-night-eye: hsl(0deg 0% 43% / 100%);
        --white-color-night-eye: hsl(240deg 8% 12% / 100%);
        --light-gray-color-night-eye: hsl(0deg 0% 14% / 100%);
        --mid-gray-color-night-eye: hsl(0deg 0% 20% / 100%);
        --dark-gray-color-night-eye: hsl(0deg 0% 42% / 100%);
        --darker-gray-color-night-eye: hsl(0deg 0% 10% / 100%);
        --black-color-night-eye: hsl(0deg 0% 0% / 100%);
    }

    .button {
        color: var(--white-color);
        background-color: var(--brand-color-night-eye);
    }

    .button-secondary {
        background-color: var(--dark-gray-color-night-eye);
    }

    .u-placeholder {
        background-color: #263238;
    }
}
